/* Add your custom CSS styles here */
button {
    height: 10%;
    width: 20%;
    position: relative;
    /* Increase padding to make buttons larger */
    font-size: 16px;
    /* Increase font size for better readability */
    cursor: pointer;
    /* Change cursor to pointer on hover */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

#player1,
#player2,
#player3,
#player4 {
    font-size: 24px;
    margin-top: 70px;
}

/* Target the player name input boxes */
#p1-name,
#p2-name,
#p3-name,
#p4-name {
    background-color: transparent;
    /* Make background transparent */
    border: none;
    /* Remove border */
    color: black;
    /* Set text color to black or any color that makes the text visible */
}

/* Change style when input is focused */
#p1-name:focus,
#p2-name:focus,
#p3-name:focus,
#p4-name:focus {
    background-color: white;
    /* Make background white or any color */
    border: 1px solid black;
    /* Add a border to indicate the input box is active */
}

table,
th,
td {
    border: 1px solid black;
}

/* Container needed to position the dropdown button */
.dropdown {
    position: fixed;
    width: auto;
    top: 0;
    right: 0;
    z-index: 1;
    /* Ensures dropdown content is on top */
}

/* Style the dropdown button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    width: auto;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}